<template name="listeArtiste">	 
  <div class="container">
  
  <h4>Vous souhaitez ajouter un artiste ?</h4>

    	<form class="new-artiste">
    		<input type="text" name="surnom" placeholder="Surnom de l'artiste" required>
        <input type="text" name="prenom" placeholder="Prenom de l'artiste" required>
        <input type="text" name="nom" placeholder="Nom de l'artiste" required>
        <input type="date" name="dateBday" placeholder="Age de l'artiste" min="1" required>
    		<input type="submit" name="submit" value="Ajouter">
    	</form>


  <h4>Voici la liste des artistes déjà présent</h4>
    
    <ul>
      {{#each artiste}}
        <li>{{surnom}}</li> 
      {{/each}}
    </ul> 

  </div>
</template>