<template name ="footer">

 <footer class="page-footer, red darken-3">
    <div class="container">
      <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Music'All</h5>
          </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Société</h5>
          <ul>
            <li><a class="white-text text-lighten-3" href="#!">A Propros</a></li>
            <li><a class="white-text text-lighten-3" href="#!">Artiste</a></li>
            <li><a class="white-text text-lighten-3" href="#!">Documentation</a></li>
            <li><a class="white-text text-lighten-3" href="#!">Aide</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright, white-text">
      <div class="container">
         © 2019 - Projet Meteor
         <a class="white-text text-lighten-4 right" href="#!">Nos Réseaux</a>
      </div>
    </div>
  </footer>

</template>